<!-- HP -->
<article>
    <div class="attribute {{#if system.attributes.isDeprived}}deprived-active{{else if (eq (calculateTotalWeight gear) system.attributes.invSlots.value)}}danger-active{{else if (eq system.health.value 0)}}danger-active{{/if}}">
        <header class="attribute-header">
            <h3>{{localize "SAB.character.hp.short"}}</h3>
        </header>

        <div class="attribute-content">
            <span>
                <input
                    id="current_hp"
                    type="text"
                    name="system.health.value"
                    class="section-input"
                    {{#if (eq (calculateTotalWeight gear) system.attributes.invSlots.value)}}
                        value="0"
                        disabled
                    {{else}}
                        value="{{system.health.value}}"
                    {{/if}}
                    data-dtype="Number"
                    min="0"
                    max="18"
                />
                <label for="current_hp">{{localize "SAB.character.sheet.attribute.current"}}</label>
            </span>
            <span class="vertical-divider"></span>
            <span>
                <input
                    id="max_hp"
                    type="text"
                    name="system.health.max"
                    class="section-input"
                    value="{{system.health.max}}"
                    data-dtype="Number"
                    min="0"
                    max="18"
                />
                <label for="max_hp">{{localize "SAB.character.sheet.attribute.max"}}</label>
            </span>
        </div>
    </div>
</article>

<!-- Armor -->
<article>
    <div class="attribute character-armor-modal">
        <header
            class="attribute-header"
            data-label={{localize "SAB.character.armor.long"}}
        >
            <h3>{{localize "SAB.character.armor.long"}}</h3>
        </header>

        <div class="attribute-content">
            <span>
                <input
                    id="armor-value"
                    type="text"
                    class="section-input"
                    value="{{handleArmorValue gear system}}"
                    data-dtype="Number"
                    readonly
                />
                {{#if system.ar.description}}
                    <label for="armor-value">{{system.ar.description}}</label>
                {{/if}}
            </span>
        </div>
    </div>
</article>

<!-- Body -->
<article>
    <div class="attribute {{#if system.attributes.isDeprived}}deprived-active{{/if}}">
        <header
            class="attribute-header attribute-save-roll"
            data-roll="d20"
            data-attribute="body"
            data-label={{localize "SAB.character.body.long"}}
        >
            <h3>{{localize "SAB.character.body.long"}}</h3>
        </header>

        <div class="attribute-content">
            <span>
                <input
                id="current_body"
                type="text"
                name="system.body.value"
                class="section-input"
                value="{{system.body.value}}"
                data-dtype="Number"
                min="0"
                max="18"
            />
                <label for="current_body">{{localize "SAB.character.sheet.attribute.current"}}</label>
            </span>
            <span class="vertical-divider"></span>
            <span>
                <input
                    id="max_body"
                    type="text"
                    name="system.body.max"
                    class="section-input"
                    value="{{system.body.max}}"
                    data-dtype="Number"
                    min="0"
                    max="18"
                />
                <label for="max_body">{{localize "SAB.character.sheet.attribute.max"}}</label>
            </span>
        </div>
    </div>
</article>

<!-- Mind -->
<article>
    <div class="attribute {{#if system.attributes.isDeprived}}deprived-active{{/if}}">
        <header
            class="attribute-header attribute-save-roll"
            data-roll="d20"
            data-attribute="mind"
            data-label={{localize "SAB.character.mind.long"}}
        >
            <h3>{{localize "SAB.character.mind.long"}}</h3>
        </header>

        <div class="attribute-content">
            <span>
                <input
                    id="current_mind"
                    type="text"
                    name="system.mind.value"
                    class="section-input"
                    value="{{system.mind.value}}"
                    data-dtype="Number"
                    min="0"
                    max="18"
                />
                <label for="current_mind">{{localize "SAB.character.sheet.attribute.current"}}</label>
            </span>
            <span class="vertical-divider"></span>
            <span>
                <input
                    id="max_mind"
                    type="text"
                    name="system.mind.max"
                    class="section-input"
                    value="{{system.mind.max}}"
                    data-dtype="Number"
                    min="0"
                    max="18"
                />
                <label for="max_mind">{{localize "SAB.character.sheet.attribute.max"}}</label>
            </span>
        </div>
    </div>
</article>
